body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(to right, #a7f3d0, #fef9c3);
  color: #065f46;
}

.card-container {
  display: grid;                 /* Use grid layout */
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-gap: 20px;                /* Space between cards */
  justify-items: center;         /* Center cards in each cell */
  max-width: 800px;
  margin: 40px auto;
}

.card {
  width: 180px;
  height: 260px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  display: flex;
  justify-content:end;
  align-items: center;
  font-size: 2rem;
}

.card-front {
  background: #16a34a;
  color: white;
}

.card-back {
  background: white;
  transform: rotateY(180deg);
  flex-direction: column;
  padding: 10px;
}

.card {
  width: 200px;
  height: 300px;
}

.card-back img {
  width: 100%;
  height: 60%;       /* take 60% of card height */
  object-fit: cover;
}
.card-back p {
  font-size: 1rem;
  margin-top: 10px;
}

.previous, .next {
    display: flex;
    justify-content: center;
    margin: 35px 0;
}

/* BUTTON STYLE */
.press {
    padding: 14px 34px;
    font-size: 16px;
    font-weight: 600;
    Letter-spacing: 1px;
    color: #fff;
    background: linear-gradient(135deg, #43a047, #1b5e20);
    border-radius: 40px;
    text-decoration: none;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    transition: all 0.35s ease;
    position: relative;
    overflow: hidden;
}

/* HOVER EFFECT */
.press:hover {
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 15px 35px rgba(0,0,0,0.35);
    background: linear-gradient(135deg, #66bb6a, #2e7d32);
}

/* CLICK EFFECT */
.press:active {
    transform: scale(0.96);
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

/* OPTIONAL GLOW */
.press::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at top left, rgba(255,255,255,0.4), transparent);
    opacity: 0;
    transition: 0.4s;
}

.press:hover::after {
    opacity: 1;
}
